# From ci.in
coverage[toml]==7.5.0
flake8==7.0.0  # Can probably be removed due to `ruff`.
flake8_implicit_str_concat==0.4.0  # Can probably be removed due to `ruff`.
flake8-bugbear==24.4.21  # Can probably be removed due to `ruff`.
flake8-print==5.0.0  # Can probably be removed due to `ruff`.
fpdf2==2.7.8
mypy==1.9.0
pillow==10.2.0
pycryptodome==3.20.0
pytest==8.1.1
pytest-benchmark==4.0.0
pytest-socket==0.7.0
pytest-timeout==2.3.1
pytest-xdist==3.5.0
pytest-cov==5.0.0
ruff==0.4.1
typeguard==4.2.1
types-dataclasses==0.6.6  # Can probably be removed due to dropping Python 3.6.
types-Pillow==10.2.0.20240423
pyyaml==6.0.1

# From docs.in
sphinx==7.3.7
sphinx_rtd_theme==2.0.0
myst_parser==2.0.0
attrs==23.2.0  # required for myst, but not automatically installed by myst  # Still needed?
