# From ci.in
arabic-reshaper==3.0.1
brotli==1.2.0
coverage[toml]==7.16.2
cryptography==50.0.2
fonttools==4.66.1
fpdf2==2.8.9
mypy==2.4.0
pillow==12.3.0
pycryptodome==3.24.0
pytest==9.1.1
pytest-benchmark==5.3.0
pytest-cov==7.1.0
pytest-socket==0.8.1
pytest-timeout==2.4.0
pytest-xdist==3.8.0
python-bidi==0.6.11
ruff==0.16.10
typeguard==4.6.0
pyyaml==6.0.3

# From dev.in
pre-commit==4.6.2
flit==4.1.0

# From docs.in
sphinx==8.2.3
sphinx-rtd-theme==3.1.0
myst-parser==5.1.0
