# From ci.in
coverage[toml]==7.10.1
fpdf2==2.8.3
mypy==1.17.0
pillow==11.3.0
pycryptodome==3.23.0
pytest==8.4.1
pytest-benchmark==5.1.0
pytest-cov==6.2.1
pytest-socket==0.7.0
pytest-timeout==2.4.0
pytest-xdist==3.8.0
ruff==0.12.5
typeguard==4.4.4
types-pillow==10.2.0.20240822
pyyaml==6.0.2

# From dev.in
pre-commit==4.2.0
flit==3.12.0

# From docs.in
sphinx==8.2.3
sphinx_rtd_theme==3.0.2
myst_parser==4.0.1
